#############################################
###       Certification Information       ###
#############################################
Vendor: Oracle
Product_Name: ABC_Series
Model_Number: 123x
Oracle VM Version: 3.2.1

#############################################
###              OVM settings             ###
#############################################
adminServer=192.168.10.1
ovmUser=admin
ovmAgentUsername=oracle
ovmServerMasterIP=192.168.10.9
ovmServerSlaveIP=192.168.10.10


#############################################
###         Server Pool settings          ###
#############################################
serverPoolIP=10.196.85.107
VM_Network=10.196.84.0
VM_Netmask=255.255.252.0
VM_NetworkPort=bond0
ovmServerMaster_vmnetworkIP=10.196.84.9 
ovmServerSlave_vmnetworkIP=10.196.84.10

#############################################
###             Install Media             ###
#############################################
virtualCDROM_URL=http://repo.myserv.com/OracleLinux/OL6/U3/x86_64/OracleLinux-R6-U3-Server-x86_64-dvd.iso
vmTemplateURL=http://repo.myserv.com/vm-templates/vm-templates/OEL-5/Non-OVF/OVM_OL5U7_X86_64_PVM_10GB.tgz
vmAssemblyURL=http://repo.myserv.com/vm-templates/vm-templates/OEL-5/OVF/OVM_OL5U8_x86_PVM.ova


#############################################
###           SAN Server Info             ###
#############################################
SAN_ServerName=fileserver35
SAN_AccessHost=192.168.3.25
SAN_AccessPort=3260
SAN_AdminHost=192.168.3.25
SAN_AdminUsername=qauser
SAN_VolumeGroup=hcl_03
CHAP_UserName=incoming
storageNetworkIP=192.168.3.0
storageNetworkNetmask=255.255.252.0
storageNetworkPort=eth1
ovmServerMaster_storageIP=192.168.4.9
ovmServerSlave_storageIP=192.168.4.10



#############################################
###          NFS File Server Info         ###
#############################################
NFS_IPAddress=192.168.3.25
NFS_ServerName=fileserver35
NFS_FilesystemName1=nfs:/OVM/hcl_01
NFS_FilesystemName2=nfs:/OVM/hcl_02
NFS_SharePath1=export1
NFS_SharePath2=export2

